[submodule "deps/osxutils"]
	path = deps/osxutils
	url = https://github.com/flyqie/osxutils.git
	branch = master
[submodule "deps/HackedBinaries"]
	path = deps/HackedBinaries
	url = https://github.com/flyqie/HackedBinaries.git
	branch = master
[submodule "deps/libunwind64"]
	path = deps/libunwind64
	url = https://github.com/flyqie/libunwind64.git
	branch = master
[submodule "deps/libcxx-10.0.0"]
	path = deps/libcxx-10.0.0
	url = https://github.com/flyqie/libcxx-10.0.0.git
	branch = master
[submodule "deps/iemukern"]
	path = deps/iemukern
	url = https://github.com/flyqie/iemukern.git
	branch = Catalina
